---
page_title: "Provider: Mailman3"
description: |-
  The Mailman3 provider provides resources to interact with a Mailman3 REST API.
---

# Mailman3 Provider

The Mailman3 provider provides resources to interact with a Mailman3 REST API.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
